<!-- header -->
<div class="header-nav">
    <div class="container">
        <nav class="imperial-navbar">
            <div class="box left">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a class="navbar-brand" href="<%= current_site.the_url %>"><img src="<%= current_site.the_logo(theme_asset_url('images/logo.png')) %>" alt=" " /></a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <ul class="navigation-menu">
                    <% cama_menu_parse_items(current_site.nav_menus.find_by_slug('main_menu').children).each do |item| %>
                        <li class="<%= item[:current_item] ? 'act' : 'hvr-bubble-bottom' %>"><a class="<%= 'scroll' if item[:url].start_with?('#') %>" href="<%= item[:url] %>"><%= item[:label] %></a></li>
                    <% end %>
                </ul>

            </div><!-- /.navbar-collapse -->
            </div>
            <div class="box right">
                <button id="contact-button-top">Contact Us</button>
            </div>
        </nav>
    </div>
    
    <div class="menu-bottom-line">
        
      </div>
</div>
<!-- header -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
    $("#contact-button-top").click(function(){
        $("#contact").slideToggle(1000);
        $("html, body").animate({ scrollTop: $("#contact").offset().top
    }, 2000);
        
    });
});
</script>