<!-- header -->

<!-- header -->
<div class="header-nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a class="navbar-brand" href="<%= current_site.the_url %>"><img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/logo.png" alt=" " /></a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% cama_menu_parse_items(current_site.nav_menus.find_by_slug('main_menu').children).each do |item| %>
                        <li class="<%= item[:current_item] ? 'act' : 'hvr-bubble-bottom' %>"><a class="<%= 'scroll' if item[:url].start_with?('#') %>" href="<%= item[:url] %>"><%= item[:label] %></a></li>
                    <% end %>
                     <button id="contact-button-top">Contact Us</button>
                </ul>
            </div><!-- /.navbar-collapse -->

        </nav>
    </div>
</div>




<script>
    $(document).ready(function(){
    $("#contact-button-top").click(function(){
        $("#contact").slideToggle(1000);
        $("html, body").animate({ scrollTop: $("#contact").offset().top
    }, 2000);
        
    });
});
</script>

    <script>
    $(document).ready(function(){
      $(window).scroll(function() { // check if scroll event happened
        if ($(document).scrollTop() > 50) { // check if user scrolled more than 50 from top of the browser window
          $(".header-nav").css("background-color", "rgba(255,255,255,0.8)"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
        } else {
          $(".header-nav").css("background-color", "white"); // if not, change it back to transparent
        }
      });
    });
</script>
