<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title><%= current_site.the_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->

<!-- glyphicon -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag theme_asset_path("lib/bootstrap/css/bootstrap.min.css") %>

  <!-- Libraries CSS Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag theme_asset_path("lib/font-awesome/css/font-awesome.min.css") %>

  <link href="lib/animate-css/animate.min.css" rel="stylesheet">
  <%= stylesheet_link_tag theme_asset_path("lib/animate-css/animate.min.css") %>

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <%= stylesheet_link_tag theme_asset_path("css/style.css") %>

  <link rel="stylesheet" href="css/foundation-icons.css">
  <%= stylesheet_link_tag theme_asset_path("css/foundation-icons.css") %>

    <%= stylesheet_link_tag theme_asset_path("css/style") %>
    <%= javascript_include_tag theme_asset_path("js/main.js") %>
    <%= raw the_head %>
</head>
<body>

    <!-- container -->
    
        <!-- header -->
        <%= render theme_view('layouts/header') %>
    <% if is_home? %>
        <%= yield %>
    <% else %>
        <div class="banner1"> </div>
        <div class="content">

                <%= yield %>

        </div>
    <% end %>

        <!-- ./header -->
        

        <!-- footer -->
        <footer>
            <%= render theme_view('layouts/footer') %>
        </footer>
        <!-- ./footer -->
    
    <!-- ./container -->
</body>
</html>
